.mindshift {
  background-color: #233551;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }

  .mindshift .overlap-group-wrapper { 
  background-color: #233551;
  border: 1px none;
  height: 3723px;
  width: 1283px;
  }

 .mindshift .overlap-group {
  height: 3722px;
  position: relative;
  top: 2px;
  }

  .mindshift .outerbox {
  height: 3448px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
  }

  .mindshift .startassessment-btn {
  background-color: #7eb8c7;
  border-radius: 50px;
  height: 62px;
  left: 82px;
  position: absolute;
  top: 462px;
  width: 241px;
  color: #ffe3e4;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
  }

  .mindshift .tagline {
  height: 302px;
  left: 83px;
  position: absolute;
  top: 110px;
  width: 577px;
  }

    .mindshift .circle {
    background-color: #7eb8c7;
    border-radius: 12px;
    height: 24px;
    left: 738px;
    position: absolute;
    top: 218px;
    width: 24px;
    }

    .mindshift .div {
    background-color: #ff847f;
    border-radius: 5.5px;
    height: 11px;
    left: 801px;
    position: absolute;
    top: 120px;
    width: 11px;
    }
    .mindshift .circle-2 {
    background-color:#7eb0c7;
    border-radius: 3px;
    height: 6px;
    left: 750px;
    position: absolute;
    top: 2954px;
    width: 6px;
    }

    .mindshift .circle-3 {
    background-color:  #ff847f;
    border-radius: 3px;
    height: 6px;
    left: 772px;
    position: absolute;
    top: 486px;
    width: 6px;
    }

    .mindshift .greenwavecontainer {
    height: 420px;
    left: 498px;
    position: absolute;
    top: 624px;
    width: 785px;
    }

    .mindshift .whitewavecontainer {
    height: 420px;
    left: 2px;
    position: absolute;
    top: 624px;
    width: 1281px;
    }

    .mindshift .key-features {
      height: 37px;
      left: 552px;
      position: absolute;
      top: 717px;
      width: 249px;
    }
     
    .mindshift .mental-health-title {
      height: 31px;
      left: 758px;
      position: absolute;
      top: 1208px;
      width: 459px;
    }

    .mindshift .positive-thoughts { 
      height: 87px; 
      left: 752px;
      position: absolute;
      top: 2607px;
      width: 450px;
    }

    .mindshift .importance-title {
      height: 87px;
      left: 84px;
      position: absolute;
      top: 1869px;
      width: 416px;
    }

    .mindshift .text-wrapper-2 {
      color: #000000;
      font-family: "Inter", Helvetica;
      font-size: 17px;
      font-weight: 700;
      height: 21px;
      left: 127px;
      letter-spacing: 0; 
      line-height: normal;
      position: absolute;
      text-align: center; 
      top: 964px;
    }

    .mindshift .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica; 
    font-size: 17px;
    font-weight: 700;
    height: 21px;
    left: 475px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 966px;
    }

  .mindshift .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica; 
  font-size: 17px;
  font-weight: 700; 
  height: 21px;
  left: 749px; 
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 970px;
  }

  .mindshift .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  height: 21px;
  left: 1097px;
  letter-spacing: 0; 
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 976px;
  }

  .mindshift .mental-health {
  color: #16161699;
  font-family: "Inter", Helvetica; 
  font-size: 20px;
  font-weight: 500; 
  height: 176px; 
  left: 758px; 
  letter-spacing: 0;
  line-height: 35.3px; 
  position: absolute; 
  text-align: justify; 
  top: 1380px;
  width: 455px;
  }

  .mindshift .p {
    color: #16161699;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 500; 
    height: 350px; 
    left: 749px;
    letter-spacing: 0;
    line-height: 35.3px;
    position: absolute;
    top: 2744px;
    text-align: justify;
    width: 455px;
    }

    .mindshift .importance {
    color: #16161699;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 455px;
    left: 83px;
    letter-spacing: 0;
    line-height: 35.3px; 
    position: absolute; 
    text-align: justify; 
    top: 1988px;
    width: 489px;
    }

   .mindshift .bubblesmentalhealth {
    height: 623px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 1122px;
    width: 700px;
    }

    .mindshift .img {
    height: 580px;
    left: 10px;
    object-fit: cover;
    position: absolute; 
    top: 2590px; 
    width: 652px;
    }

    .mindshift .bubblesimportance {
    height: 578px;
    left: 578px;
    object-fit: cover;
    position: absolute;
    top: 1928px; 
    width: 665px;
    }

    .mindshift .img-2 {
    height: 667px;
    left: 2px;
    object-fit: cover;
    position: absolute; 
    top: 1118px;
    width: 595px;
    }

    .mindshift .backlinesimportance {
      height: 667px;
      left: 670px;
      object-fit: cover;
      position: absolute; 
      top: 1854px; 
      width: 595px;
    }

    .mindshift .backlinepositive {
      height: 739px;
      left: 0;
      object-fit: cover;
      position: absolute; 
      top: 2478px;
      width: 595px;
    }

    .mindshift .greenfootercontainer {
      height: 480px;
      left: 2px;
      position: absolute;
      top: 3241px;
      width: 1280px;
    }

    .mindshift .whitefootercontainer {
      height: 497px;
      left: 2px;
      position: absolute;
      top: 3224px;
      width: 1280px;
    }

    .mindshift .copyright {
    color: #00000099; 
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400; 
    height: 26px;
    left: 471px;
    letter-spacing: 0;
    line-height: 26.5px;
    position: absolute;
    text-align: justify;
    top: 3596px;
    white-space: nowrap;
    }

    .mindshift .span {
      color: #00000099;
      font-family: "Inter", Helvetica;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26.5px;
    }

    .mindshift .text-wrapper-6 { 
      font-weight: 700;
    }

    .mindshift.text-wrapper-7 { 
      color: #00000099;
      font-family: "Inter", Helvetica;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26.5px;
    }

    .mindshift .footerline {
    height: 1px;
    left: 78px;
    object-fit: cover;
    position: absolute;
    top: 3568px;
    width: 1117px;
    }

   .mindshift .logo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 83px;
    position: absolute;
    top: 3504px;
    width: 168px;
   }

  .mindshift .h-1 {
  color: #233551;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  }

  .mindshift .copyright-2 {
  height: 18px;
  left: 441px;
  position: absolute;
  top: 3602px;
  width: 18px;
  }

  .mindshift .git-hub { 
    height: 86px;
    left: 315px;
    position: absolute;
    top: 3392px;
    width: 106px;
  }

  .mindshift .linked-in {
  height: 86px;
  left: 691px;
  position: absolute;
  top: 3392px;
  width: 106px;
  }

  .mindshift .twitter {
  height: 51px;
  left: 540px;
  position: absolute;
  top: 3410px;
  width: 64px;
  }

  .mindshift .instagram {
    height: 76px;
    left: 883px;
    object-fit: cover;
    position: absolute;
    top: 3398px;
    width: 80px;
  }

  .mindshift .join-us {
    height: 31px; 
    left: 597px;
    position: absolute;
    top: 3326px;
    width: 142px;
  } 
    
  .mindshift .games {
    height: 133px; 
    left: 446px;
    object-fit: cover;
    position: absolute; 
    top: 780px;
    width: 134px;
  }

  .mindshift .community{
    height: 133px;
    left: 762px;
    object-fit: cover;
    position: absolute;
    top: 780px;
    width: 133px;
  }

  .mindshift .blog{
    height: 133px;
    left: 1048px;
    object-fit: cover;
    position: absolute;
    top: 780px;
    width: 133px;
  }

  .mindshift .calendar{
    height: 133px;
    left: 118px;
    object-fit: cover;
    position: absolute;
    top: 780px;
    width: 133px;
  }

  .mindshift .mentalhealth{
    height: 500px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 1184px;
    width: 500px; 
  }

  .mindshift .positivethought{
    height: 500px;
    left: 78px;
    object-fit: cover;
    position: absolute;
    top: 2598px;
    width: 500px; 
  }

  .mindshift .importance-2{
    height: 500px;
    left: 740px;
    object-fit: cover;
    position: absolute;
    top: 1904px;
    width: 500px; 
  }

  .mindshift .meditation{
    height: 600px;
    left: 644px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    width: 600px; 
  }
